/*menu de navegacion*/
nav.navegacion {
  display: flex;
  background: rgb(46, 133, 29);
  border-bottom: 5px solid rgb(75, 255, 75);
  justify-content: center;
}

a{
  color:white;
  text-decoration:none;
}

ul{
  display: flex;
}

.item {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1px 10px;
  color: white;
  text-transform: uppercase;
  padding: 15px;
}

li:hover {
  background: rgb(192, 243, 188);
}

/*logo de la pagina*/
.logo {
  height: 5%;
  width: 5%;
}

/*titulo*/
h1 {
  text-align: center;
  font-size: 50px;
}
/*bolsas y laminas*/
.bolsas{
  display: grid;
  grid-template-columns:auto auto auto auto;
  grid-template-rows: auto auto;
  margin-left: auto;
}
/*envases*/
.envases{
  display: grid;
  grid-template-columns:auto auto auto auto;
  grid-template-rows: auto auto;
  margin-left: auto;
}
/*Baño*/
div.contenedorBaño{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Baño{
  display: flex;
  flex-direction: column;
}
.descripcion{
  text-align: center;
}
/*footer*/
.footer {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logofooter {
  height: 12%;
  width: 12%;
}